@import '../../styles/colors';

.education-container{
    @extend %header-style-shared;
}

.education-list{
    display:flex;
    flex-direction: column;
    margin: 7% 0;
    color:$fontColor;
    .education{
        margin:3% 0;
        .title{
            font-weight: bold;
            font-style: oblique;
        }
        .year{
            span{
                margin-right:2%;
            }
        }
    }
}