$headerColor: #4c4eb6;
$headerBottomColor: #3d52d5;
$titleColor: #494ca2;
$fontColor: #585c69;

@mixin headerStyle() {
  color: $headerColor;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px !important;
}

%header-style-shared{
    color: $headerColor;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px !important;
}

%header-style-shared:after{
    content: "";
    background: linear-gradient(90deg, $headerBottomColor 0%, rgba(255,255,255,0) 100%);
    display: block;
    height: 4px;
    width: 90%;
    top: 8px;
    position: relative;
}