@import '../../styles/colors';

.experience-container{
    //@include headerStyle();
    @extend %header-style-shared
}

.experience-list{
    display:flex;
    flex-direction:column;
    margin: 7% 0;
    .experience{
        margin: 3% 0%;
        color:$fontColor;
        .title{
            font-weight: bold;
        }
        .company{
            color: $titleColor;
            font-weight: bold;
            margin: 2% 0; 
        }
        .year{
            span{
                margin-right: 2%;
            }
        }
        .objectives{
            ul{
                li{
                    font-size:14px;
                    margin:2% 0;
                }
            }
        }
    }
}